*{
	margin: 0px;
	padding: 0px;
}

.container{
	background-color: pink;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	
	
}

h1{
	text-align: center;
}

.table{
	background-color: white;
}